body {
    background-color: black;
}

.top-container {
    color: #cd9933;
    text-align: center;
    padding: 30px;
}

p {
    color: white;
    text-align: center;
    padding: 30px;
    width: 250px;
    margin: auto;
}

.side {
    color: white;
}

.Ab {
    text-align: center;
}

h2 {
    color: gray;
}

h1 {
    color: #cd9933;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    padding: 20px;
}

a {
    color: #cd9933;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

.bottom-container {
    padding: 50px 0 20px;
    text-align: top;
}

.activ {
    text-align: left;
}

. {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url(image/MAGNA11.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;
}

.star {
    margin-bottom: 2px;
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
    size: 5rem;
    white-space: 210px;
}

.sp {
}

.stt {
    text-align: center;
}

.rt {
    width: 130px;
    margin: auto;
    right: 600px;
}

.name {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chill-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #cd9933, #cd9933);
    background-image: -moz-linear-gradient(top, #cd9933, #cd9933);
    background-image: -ms-linear-gradient(top, #cd9933, #cd9933);
    background-image: -o-linear-gradient(top, #cd9933, #cd9933);
    background-image: linear-gradient(to bottom, #cd9933, #cd9933);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }